@charset "UTF-8";
/* === ПРИКОЛЫ === */
.bc-color {
  background-color: #17212B;
}

.bc-color__dark {
  background-color: #0e1621;
}

.wrapper {
  margin: auto;
  max-width: 1250px;
  padding: 0 25px;
}

.wrapper__content {
  margin-left: 130px;
}

/* .wrapper обертка ограничитель,
   .wrapper__content обертка для сдвига основного контента вправо от заголовков */
.text__blue {
  color: #63d9ff;
}

/* === RESET === */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  margin: 0;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

/* ===== INTRO ===== */
.wrapper__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.intro img {
  margin-right: 60px;
}
.intro h1 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  width: 420px;
}

/* ===== SUGGESTIONS  ===== */
.suggestions {
  padding: 100px 0;
}
.suggestions h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.suggestions ol li {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}

/* ===== REALISATION ===== */
.realisation {
  padding: 100px 0 120px;
  position: relative;
}
.realisation .realisation_header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 80px;
}
.realisation .realisation_header-wrapper h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}
.realisation .realisation_header-wrapper img {
  margin-left: auto;
}
.realisation ol {
  margin-bottom: 80px;
}
.realisation ol li {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}
.realisation .realisation_img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 10px;
}
.realisation .realisation_img-wrapper p {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.realisation .realisation_phone {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ===== FUNCTIONS ===== */
.functions {
  padding-top: 100px;
}
.functions h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}
.functions ol li {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}

/* ===== MANUAL  CALLS ===== */
.manual-calls {
  padding: 100px 0;
}
.manual-calls h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 80px;
}
.manual-calls .wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.manual-calls .manual-calls_phone {
  position: relative;
}
.manual-calls .phone_notion {
  position: absolute;
  top: 410px;
  left: 159px;
}
.manual-calls .phone_functions {
  position: absolute;
  left: -22px;
  bottom: 140px;
}
.manual-calls .wrapper__symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 400px;
  gap: 100px;
}
.manual-calls .wrapper__symbols img {
  height: 77px;
}
.manual-calls .wrapper__symbols img:nth-child(2) {
  width: 77px;
}

/* ===== РАСПИСАНИЕ ===== */
.schedule {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.schedule h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.schedule figure {
  margin-left: 40px;
}
.schedule figure figcaption {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  width: 500px;
}

/* ===== CHANGES ===== */
.changes {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.changes h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.changes .changes_phone {
  width: 400px;
}
.changes .changes_comands {
  width: 750px;
  height: 560px;
  margin-left: 50px;
}

/* ===== ROLES ===== */
.roles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 50px;
  position: relative;
}
.roles .roles_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}
.roles .roles_left h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.roles .roles_left img:nth-child(3) {
  width: 386px;
  margin: 50px auto 0;
}
.roles .roles_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}
.roles .roles_right img:first-of-type {
  width: 396px;
  margin-left: auto;
  margin-bottom: auto;
}

/* LINE */
.roles::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  background-color: rgba(35, 54, 81, 0.29);
  border-radius: 24px;
}

/* ===== MONITORING ===== */
.monitoring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0 100px;
}
.monitoring h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 80px;
}
.monitoring img:last-of-type {
  margin-left: 70px;
  height: 448px;
}

/* ===== ADVANTAGES ===== */
.advantages {
  padding: 100px 0;
}
.advantages h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  margin-bottom: 80px;
}
.advantages article {
  margin: auto;
  width: 730px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages article:last-of-type {
  margin-bottom: 0;
}
.advantages article > * {
  margin-bottom: 50px;
}
.advantages article h6 {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}
.advantages article p {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

/* ===== PRICE ===== */
.price {
  margin-bottom: 100px;
}
.price h3 {
  font-size: 48px;
  line-height: 141%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}
.price p {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
}
.price p span {
  font-size: 24px;
}

/* ===== CONTACTS ===== */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}
.contact p, .contact a {
  font-size: 32px;
  line-height: 131%;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.contact a {
  margin-right: 8px;
  opacity: 0.7;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  text-decoration: underline;
}
.contact a:hover {
  opacity: 1;
}

/* ===== MEDIA ===== */
@media (max-width: 1200px) {
  /* === ПРИКОЛЫ === */
  .wrapper__content {
    margin-left: 80px;
  }
  /* === REALISATION === */
  .realisation {
    padding-bottom: 350px;
  }
  .realisation .realisation_header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .realisation .realisation_header-wrapper img {
    margin-left: 0;
    margin-top: 50px;
  }
  .realisation ol {
    margin-bottom: 50px;
  }
  .realisation .realisation_phone {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /* === MANUAL  CALLS === */
  .manual-calls .wrapper__content {
    margin-left: 30px;
  }
  .manual-calls .phone_notion {
    left: -30px;
  }
  .manual-calls .wrapper__symbols {
    margin: auto;
  }
  /* ===== РАСПИСАНИЕ ===== */
  .schedule {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .schedule figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-left: 0;
  }
  .schedule figure figcaption {
    width: 80%;
  }
  /* ===== CHANGES ===== */
  .changes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .changes .changes_comands {
    margin-left: 0;
    margin-top: 50px;
  }
  /* ===== ROLES ===== */
  .roles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roles .roles_left {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .roles .roles_right {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .roles .roles_right img:first-of-type {
    margin-left: 0;
    margin: 50px auto 0;
  }
  /* ===== MONITORING ===== */
  .monitoring {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .monitoring img:first-of-type {
    margin-bottom: 50px;
  }
  /* ===== ADVANTAGES ===== */
  /* ===== PRICE ===== */
  /* ===== CONTACTS ===== */
}